body {
  background-color: #f8f8f8;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

#slika {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default {
  border-color: transparent;
  background-image: unset;
}

footer {
  background-color: #fff;
  margin-top: 20px;
  padding: 15px 0;
  box-shadow: 0 -2px 4px rgba(68,68,68,.2);
  -webkit-box-shadow: 0 -2px 4px rgba(68,68,68,.2);
  -moz-box-shadow: 0 -2px 4px rgba(68,68,68,.2);
}

/* Moderator css */
#mod-nav, #panel-holder {
  box-shadow: 0 2px 4px rgba(68,68,68,.2);
  -webkit-box-shadow: 0 2px 4px rgba(68,68,68,.2);
  -moz-box-shadow: 0 2px 4px rgba(68,68,68,.2);
}
#mod-nav {
   background-color: #fff;
}

.panel-section {  
  padding: 15px 0;
}

#panel-holder {
  background-color: #fff;
  margin-top: 20px;
  padding: 30px 30px;
}

.form-control {
  margin: 10px 0;
}