{{header-main}}
{{moderator-nav}}

<div class="second">
		<div class="container">
			
			<div class="row">
				<div class="col-md-4 col-sm-12 item">
					
					<a href="/moderator/clanovi"><h1 class="title">Članovi<br></h1></a>
					<span class="opis">um assum audire hendrerit te, doctus meliore nam ad, quod saperet sit eu. Sed no homero causae accommodare, ea clita pertinax dissentias vis. Ad voluptua volutpat dissentiunt mel. Qui an fugit inciderint definitionem, errem nemore civibus nam in. Te summo fuisset sea, dicat neglegentur definitiones cu vel. Ut pri mucius constituto interesset. Maiorum gubergren constitu</span>
				</div>
				<div class="col-md-4 col-sm-12 item">
					
					<a href="/moderator/kategorije"><h1 class="title">Kategorije<br></h1></a>
					<span class="opis">um assum audire hendrerit te, doctus meliore nam ad, quod saperet sit eu. Sed no homero causae accommodare, ea clita pertinax dissentias vis. Ad voluptua volutpat dissentiunt mel. Qui an fugit inciderint definitionem, errem nemore civibus nam in. Te summo fuisset sea, dicat neglegentur definitiones cu vel. Ut pri mucius constituto interesset. Maiorum gubergren constitu</span>
				</div>
				<div class="col-md-4 col-sm-12 item">
				
					<a href="/moderator/literatura"><h1 class="title">Literatura<br></h1></a>
					<span class="opis">um assum audire hendrerit te, doctus meliore nam ad, quod saperet sit eu. Sed no homero causae accommodare, ea clita pertinax dissentias vis. Ad voluptua volutpat dissentiunt mel. Qui an fugit inciderint definitionem, errem nemore civibus nam in. Te summo fuisset sea, dicat neglegentur definitiones cu vel. Ut pri mucius constituto interesset. Maiorum gubergren constitu.</span>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2 col-sm-10" style="border-bottom: 1px solid #d5d5d5; padding-top: 50px;"></div>
		</div>
	</div>

<script src="https://use.fontawesome.com/1817663804.js"></script>