<div class="front-page">
	<div class="container">
		<div class="row">
			
			<div class="col-md-7 col-sm-12 col-md-offset-1  second">
				<h2>Dobrodošli, 'ime moderator' </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-12 mod-options">
				<div class="info-block">
					<a href="clanovi"> Dodaj novog člana  <i class="fa fa-user-plus" aria-hidden="true"></i></a>
				</div>
				<div class="clearfix"></div>
				<div class="info-block" style="text-align:center">
					<a href="kategorije"> Dodaj novu kategoriju  <i class="fa fa-plus-square" aria-hidden="true"></i></a>
				</div>
				<div class="clearfix"></div>
				<div class="info-block">
					<a href="literatura">Dodaj novu literaturu  <i class="fa fa-book" aria-hidden="true"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<script src="https://use.fontawesome.com/1817663804.js"></script>