<div id="mod-nav" class="navbar navbar-default">
  <div class="container no-padding">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse no-padding" id="nav1">
      <ul class="nav navbar-nav">
        <li><a href="administratori">Administratori</a></li>
        <li><a href="moderatori">Moderatori</a></li>
        <li><a href="clanovi">Članovi</a></li> 
        <li><a href="osobe">Nova osoba</a></li> 
      </ul>
    </div>
  </div>
</div>