<div class="row" style="background-color: #000;">
  <div class="col-md-12 col-sm-12 cover">
    <img id="slika" src="/assets/images/library.jpg" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera" >
  </div>
</div>