<form class="col-md-12" {{action (action authHandler) on='submit'}}>                                            
  <div class="form-group">
  	{{validated-input type="text" model=this placeholder="Username" valuePath="identification"}}
  </div>
                        
  <div class="form-group">
  	{{validated-input type="password" model=this placeholder="Password" valuePath="password"}}
  </div>                        

  <button type="submit" class="btn btn-primary">Login</button>
</form>