<nav class="navbar nav-bottom navbar-default navbar-static-top" style="background: #1d212b;">
  <div class="container">
    <div class="navbar-header">
      <!-- Collapsed Hamburger -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="app-navbar-collapse">
      <!-- Left Side Of Navbar -->
      <ul class="nav navbar-nav">
        <li><a href="/clan">PoÄetna</a></li>
        <li><a href="/clan/faq">FAQ</a></li>
        <li><a href="/clan/odjava">Odjava</a></li>
        <li {{action 'logout' on='click'}}> {{#link-to 'index' }} Odjava {{/link-to}}</li>
      </ul>
      
    </div>
  </div>
</nav>