<nav class="navbar nav-bottom navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <!-- Collapsed Hamburger -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="app-navbar-collapse">

      <ul class="nav navbar-nav">
        <li><a href="/clan">PoÄetna</a></li>
        <li><a href="/clan/faq">FAQ</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li> {{#link-to 'logout' }} Odjava {{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>