<div id="bg">
  <img src="/assets/images/librarybg.jpg" alt="slika biblioteke">
</div>


<div id="formaBG">
  <div class="module">
  <div style="text-align: center">
 <img src="http://i.imgur.com/Fk1Urva.png" alt="" class="icon"/>

    </div>  
    <form id="osobaunos" method="POST" action="">
      <input type="text" placeholder="Ime" class="textbox" />
      <input type="text" placeholder="Prezime" class="textbox" />
      <input type="text" placeholder="Korisnicko Ime" class="textbox" />
      <input type="password" placeholder="Sifra" class="textbox" />

      <input type="button" value="Next" id="next-step-admin" class="button">
    </form>

 <form id="adminunos" method="POST" action="" style="display: none">

 <input type="text" placeholder="Sigurnosni ID" class="textbox" />
      <input type="button" value="Submit" class="button" />
    </form>

  </div>
</div>


<script>
 $(document).ready(function () {
   $('#next-step-admin').click(function () {
     $('#osobaunos').hide();
     $('#adminunos').show();
   });
 });

</script>