<div class="front-page">
  <div class="container">
   

    <div class="row">   
      <div class="col-md-4 col-sm-12 notification">
        <h2> Obavještenja </h2>
        <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue massa tempor bibendum maximus. Phasellus sodales id turpis non vehicula. Curabitur ac nisl a velit pellentesque faucibus eu vel libero. Quisque nisl massa, mattis sed convallis vel, suscipit eget diam. Sed in congue dui, in facilisis purus. Integer a commodo arcu. Nulla at ex ante. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum non nunc ut venenatis. Sed interdum suscipit urna quis pellentesque. Nunc quis erat ac odio rutrum placerat. </span>
      </div>

      <div class="col-md-7 col-sm-12 col-md-offset-1  second">
        <h2>Dobrodošli 'ime korisnika' </h2>
        <div class="row buttons">
          <input class="btn btn-default" name="podignute" value="Podignute knjige">
          <input class="btn btn-default" name="kartica" value="Kartica">
          <input class="btn btn-default" name="odjava" value="Odjava">
        </div>
      </div>
      
      <div class="col-md-7 col-sm-12 col-md-offset-1  bibl">
        <h2> Bliblioteke </h2>
        <div class="row">
          <table>
            <tr>
              <td>Eve</td>
            </tr>
            <tr>
              <td>Eve</td>
            </tr>
            <tr>
              <td>Eve</td>
            </tr>
            <tr>
              <td>Eve</td>
            </tr>
          </table>
        </div>
      </div>
    </div>


    <div class="row title"> 
      <div class="col-md-4 col-sm-12">
        <h2> Najnoviji naslovi </h2>

        <div class="row">
          <table>
            <tr>
              <td>Eve</td>
            </tr>
            <tr>
              <td>Eve</td>
            </tr>
            <tr>
              <td>Eve</td>
            </tr>
            <tr>
              <td>Eve</td>
            </tr>
          </table>
        </div>

      </div>

    </div>

  </div>
</div>