<div id="formaBG">
  <div class="module">
    <ul>
      <li class="tab activeTab"><img src="http://i.imgur.com/Fk1Urva.png" alt="" class="icon"/></li>
  
    </ul>
    
    <form id="osobaunos" method="POST" action="">
      <input type="text" placeholder="Ime" class="textbox" />
      <input type="text" placeholder="Prezime" class="textbox" />
      <input type="text" placeholder="Korisnicko Ime" class="textbox" />
      <input type="password" placeholder="Sifra" class="textbox" />

      <input type="button" value="Next" id="next-step-button" class="button">
    </form>


    <form id="clanunos" method="POST" action="" style="display: none">
      <input type="text" placeholder="Broj clanske karte" class="textbox" />
      <input type="date" placeholder="Datum rodjenja" class="textbox" />
      <input type="text" placeholder="Adresa" class="textbox" />
      <input type="text" placeholder="Mjesto stanovanja" class="textbox" />
     <input type="text" placeholder="Broj telefona" class="textbox" />
     <input type="text" placeholder="Ustanova" class="textbox" />
     <input type="email" placeholder="E-Mail" class="textbox" />


      <input type="button" value="Submit" class="button" />
    </form>

  </div>
</div>


<script>
 $(document).ready(function () {
   $('#next-step-button').click(function () {
     $('#osobaunos').hide();
     $('#clanunos').show();
   });
 });

</script>