
<div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Obavještenja</h3>
            </div>
            <div class="panel-body">
              Panel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel 
            </div>
          </div>
          </div>
         
          <div class="col-sm-8">
            <div class="panel panel-default">
           <div class="panel-heading">
              <h3 class="panel-title">Dobrodošli <a class="link">Mujo Mujiću</a></h3>
            </div>
            <div class="panel-body">
             <p class="col-sm-8"><button type="button" class="btn btn-default">Podignute knjige</button><button type="button" class="btn btn-default">Kartice</button><button type="button" class="btn btn-default">Odjava</button>  </p>
             <p class="col-sm-4"><a>Pregled rokova i aktivnosti</a></p>
             <p class="col-sm-12"></p>
             
            </div>
          </div>
           <div class="panel panel-default">
           <div class="panel-heading">
              <h3 class="panel-title">Biblioteke</h3>
            </div>
            <div class="panel-body">
             
             <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div><!-- /.col-sm-4 -->
             
            </div>
          </div>
          </div>
          </div>
          <div class="row">
            
            <div class="col-sm-6">
            <div class="panel panel-default">
           <div class="panel-heading">
              <h3 class="panel-title">Najnoviji naslovi</h3>
            </div>
            <div id="scroll-body" class="panel-body">
             
             <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            
          </ul>
        </div>
             
            </div>
          </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
           <div class="panel-heading">
              <h3 class="panel-title">Kontakt</h3>
            </div>
            <div class="panel-body">
             
            Panel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel contentPanel
             
            </div>
          </div>
          </div>
          </div>